<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>979100453286-2ihajhaogpn2fkvh3oejrsmolqoehphh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979100453286-2ihajhaogpn2fkvh3oejrsmolqoehphh</string>
	<key>API_KEY</key>
	<string>AIzaSyAwEkPfrlzahDFsGjljZgJ03A73OQQqKG4</string>
	<key>GCM_SENDER_ID</key>
	<string>979100453286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.partydevs.iOS-PartyPlanner</string>
	<key>PROJECT_ID</key>
	<string>fir-logindemo-e7938</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-logindemo-e7938.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:979100453286:ios:df1f8b3319ac01f1</string>
	<key>DATABASE_URL</key>
	<string>https://fir-logindemo-e7938.firebaseio.com</string>
</dict>
</plist>